<html>
	<head>
		{% if title %}
		<title>{{ title }}</title>
		{% else %}
		<title>ZoomU Scheduler</title>
		{% endif %}
	</head>
	<body>
		<div>ZoomU Scheduler: <a href="{{ url_for('index') }}">Home </a><a href="{{ url_for('login') }}">Login</a>
		<p>{{ user.username }}</p></div>
		<hr>
		{% with messages = get_flashed_messages() %}
		{% if messages %}
		<ul>
				{% for message in messages %}
				<li>{{ message }}</li>
				{% endfor %}
		</ul>
		{% endif %}
		{% endwith %}
		{% block content %}{% endblock %}
	</body>
</html>